@charset "utf-8";

:root {
  --main-font: "Gothic A1", sans-serif;
  --sub-font: "Montserrat", sans-serif;
  --main-color: #002261;
}

/* sub_visual */
.sub_visual { width: 100%; height: 400px; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) 100%), url(../img/sub/company_bg.png) no-repeat center; position: relative; }
.sub_visual h2 { position: absolute; right: 240px; top: 190px; font-size: 2.6rem; color: var(--main-color); font-weight: 600; }
.sub_visual p { position: absolute; right: 240px; top: 230px; font-size: 5.5rem; font-weight: 600; font-family: var(--sub-font); color: #fff; text-transform: uppercase; }
.sub_visual .lnb_bg { padding: 0 5%; display: flex; justify-content: space-between; align-items: center; }
.sub_visual .lnb_bg .breadcrumbs { display: flex; gap: 40px;}
.sub_visual .lnb_bg .breadcrumbs li { transition: all 0.5s; }
.sub_visual .lnb_bg .breadcrumbs li a { color: #fff; }
.sub_visual .lnb_bg .breadcrumbs li:not(:last-child) { opacity: 0.5; }
.sub_visual .lnb_bg .breadcrumbs li:hover { opacity: 1; }
.sub_visual .lnb_bg .breadcrumbs li { position: relative; }
.sub_visual .lnb_bg .breadcrumbs li:not(:first-child)::before { position: absolute; top: 6px; left: -32px; display: block; content: ''; width: 8px; height: 8px; border-top: 2px solid #fff; border-right: 2px solid #fff; transform: rotate(45deg); }
.sub_visual .lnb { display: flex; gap: 50px; }
.sub_visual .lnb li:not(:first-child) { opacity: 0.5; }
.sub_visual .lnb li { transition: all 0.5s; }
.sub_visual .lnb li:hover { opacity: 1; }
.sub_visual .lnb li a { color: #fff; }
.sub_visual .lnb li:first-child { font-size: 1.8rem; }
.sub_visual .lnb li:first-child:after { display: block; content: ""; width: 70px; height: 2px; background: #fff; }
.sub_visual .lnb_bg { position: absolute; top: 320px; width: 100%; height: 80px; backdrop-filter: blur(5px); background-color: rgba(0,0,0,0.2);  }

@media (max-width:1064px) {
  .sub_visual h2 { font-size: 2.0rem; }
  .sub_visual p  { font-size: 4.0rem; }
  .sub_visual .lnb_bg { justify-content: center;}
  .sub_visual .lnb_bg .breadcrumbs { display: none; }
}

@media(max-width:880px){
  .sub_visual .lnb { gap: 30px; }
  .sub_visual .lnb li { font-size: 1.4rem; }
  .sub_visual .lnb li:first-child { font-size: 1.6rem; }
  .sub_visual .lnb li:first-child:after { width: 63px; }
  .sub_visual h2 { position: absolute; left: 50%; transform: translateX(-50%); font-size: 3.0rem; color: #fff; }
  .sub_visual p { display: none; }
  .sub_visual h2 { position: absolute; right: 0; text-align: center; }
}

@media (max-width:700px) {
  .sub_visual .lnb { gap: 20px; }
  .sub_visual .lnb li:last-child:after { width: 62px; }
}

@media (max-width:611px) {
  .sub_visual .lnb { gap: 15px; }
  .sub_visual .lnb li:last-child:after { width: 62px; }
  .sub_visual .lnb li:not(:first-child) { display: block; overflow: hidden; white-space: nowrap; width: 35px; text-overflow: ellipsis; }
}

/* contents */
.contents { margin: 100px 0 150px; }
.contents .inner .tit { text-align: center; }
.contents .inner .tit h3 { font-size: 5.5rem; }
.contents .inner .tit p { font-size: 2.0rem; }
.contents .inner .txt { display: flex; column-gap: 150px; margin-top: 70px; align-items: center; }
.contents .txt li .en { font-size: 5.5rem; font-family: var(--sub-font); font-weight: 600; }
.contents .txt li .en:nth-child(2) { text-indent: 70px; }
.contents .txt li .first span { font-size: 3.2rem; font-weight: 600; color: var(--main-color); }
.contents .txt li .second { margin-top: 40px; }
.contents .num { margin-top: 50px; }
.contents .num ul { display: flex; justify-content: space-between; }
.contents .num ul li { display: flex; gap: 20px; align-items: center; }
.contents .num ul .annie { font-size: 12.8rem; font-weight: 600; font-family: var(--sub-font); }
.contents .num ul .plus { width: 30px; height: 30px; }
.contents .num ul p { font-size: 3.6rem; text-transform: uppercase;  font-family: var(--sub-font); font-weight: 500; }

@media(max-width:1383px){
  .contents .txt li .en { font-size: 4.0rem; }
  .contents .txt li img { display: none; }
  .contents .num ul .annie { font-size: 10.0rem; }
}

@media(max-width:1270px){
  .contents .num ul .annie { font-size: 7.0rem; }
}

@media(max-width:1149px){
  .contents .num ul p { font-size: 2.5rem; }
}

@media(max-width:1126px){
  .contents .txt li .en { font-size: 3.0rem; }
}

@media (max-width:1064px) {
  .contents .inner .tit h3 { font-size: 4.5rem; }
  .contents .inner .tit p { font-size: 1.6rem; }
}

@media(max-width:880px){
  .contents { margin-bottom: 50px; }
  .contents .inner .tit { margin-bottom: 70px; }
  .contents .inner .tit h3 { font-size: 3.0rem; }
  .contents .num ul { flex-direction: column; align-items: center; }
}
